altair
attrs
audio_recorder_streamlit
blinker
cachetools
certifi
charset-normalizer
click
google.generativeai
gitdb
gitpython
google-ai-generativelanguage
google-api-core
google-auth
gtts
idna
jinja2
jsonschema
jsonschema-specifications
markdown-it-py
markupsafe
mdurl
numpy
packaging
pandas
pillow
protobuf
pyarrow
pydeck
pydub
pygments
python-dateutil
pytz
pyttsx3
referencing
requests
rich
rpds-py
six
smmap
streamlit-chat
streamlit-webrtc
speechRecognition
tenacity
toml
toolz
tornado
tqdm
typing-extensions
tzdata
urllib3
watchdog
