altair
attrs
blinker
cachetools
certifi
charset-normalizer
click
google.generativeai
gitdb
gitpython
google-ai-generativelanguage
google-api-core
google-auth
idna
jinja2
jsonschema
jsonschema-specifications
markdown-it-py
markupsafe
mdurl
numpy
packaging
pandas
pillow
protobuf
pyarrow
pydeck
pygments
python-dateutil
pytz
referencing
requests
rich
rpds-py
six
smmap
streamlit-chat
streamlit-webrtc
tenacity
toml
toolz
tornado
tqdm
typing-extensions
tzdata
urllib3
watchdog
